@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --border: #27272a;
  --text: #e4e4e7;
  --text-muted: #71717a;
  --accent: #f4f4f5;
}

* {
  border-radius: 0px !important;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "SF Mono", "Fira Code", "JetBrains Mono", monospace;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--border);
}
